In [2]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import sqlite3
import numpy as np
from numpy import random
from time import time

Get Data Set Ready

In [3]:
#load data (make sure you have downloaded database.sqlite)
with sqlite3.connect('../input/database.sqlite') as con:
    Player_Attributes = pd.read_sql_query("SELECT * from Player_Attributes", con)
Player_Attributes.shape

OperationalError: unable to open database file

In [4]:
 # Create your connection.  
cnx = sqlite3.connect('database.sqlite')  
df = pd.read_sql_query("SELECT * FROM Player_Attributes", cnx)

DatabaseError: Execution failed on sql 'SELECT * FROM Player_Attributes': no such table: Player_Attributes